[pylint]
ignore=
    manage.py,
    */migrations,
    */__init__.py,
    */apps.py,
    */admin.py,
    */serializers.py,
    */tempCodeRunnerFile.py
disable=
    import-error,
    missing-module-docstring,
    missing-function-docstring