[pylint]
ignore=
    manage.py,
    reference/migrations/,
    */__init__.py,
    */apps.py,
    */admin.py,
    */serializers.py,
    reference/tempCodeRunnerFile.py
disable=
    import-error,
    missing-module-docstring,
    missing-function-docstring